<h2>You job application for " <%=@job.job_title %>" has been submited succefully</h2>
<li><h1>watch you all applied Job here<%= link_to "My jobs",job_applications_index_path,class:'btn btn-dark'%></h1></li>
<li><h1><%= link_to  "Back",jobs_path,class:'btn btn-exit'%></h1></li>