<!DOCTYPE html>
<html lang=”en”>
  <head>
    <meta charset=”UTF-8″>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Congrates</title>
  </head>

  <body>
    <h1>Hey Congratulations applicant !, Your request for Job <%=@job.job_title%> has been accepted succefully check your status</h1>

  </body>
</html>