<!DOCTYPE html>
<html lang=”en”>
  <head>
    <meta charset=”UTF-8″>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>One Time Password confirmation</title>
  </head>

  <body>
    <h1>hello applicant , It's your One Time Password <%=@otp%> Please Don't share your Otp with anyone</h1>

  </body>
</html>